body{
    font-family: "cooper";
    color: yellowgreen;
    animation: change 10s infinite;
}
@keyframes change{
    0%{background-color:#F79F1F}
    25%{background-color:#EE5A24}
    50%{background-color:#F79F1F}
    100%{background-color:#EE5A24}
    25%{background-color:#EE5A24}
    10%{background-color:#F79F1F}
}

.Login_box{
    border-radius: 50px;
    width: 20%;
    padding: 100px;
    position: absolute;
    text-align: center;
    background: black ;
    margin: 10% 32%;
}
.navbar a{
    font-family: cooper;
    text-decoration: none;
    padding: 10px 20px;
    color: azure;
    font-size: 75%;
}
.navbar a.active{
    font-size: 150%;
    color: greenyellow;
    
}
.navbar a:hover{
    font-size: 120%;
    
}
.icon_set{
    display: flex;
}
.icon{
    margin-top: 25px;
    color:ghostwhite;
}
.Login_box input[type = "email"],.Login_box input[type="password"],label{
    margin: 20px auto;
    text-align: center;
    font-family: cooper;
    display : block;
    background: none;
    border: 2px solid cyan;
    padding: 14px 10px;
    width: 200px;
    color: white;
    border-radius:24px;
    outline:none;
    transition: 0.20s;
}
.Login_box input[type = "email"]:focus,.Login_box input[type="password"]:focus{
    width: 250px;
    border: 4px solid lightseagreen;
}
.Login_box input[type = "submit"]{
    margin: 20px auto;
    text-align: center;
    display : block;
    background: none;
    border: 2px solid lime;
    padding: 14px 10px;
    color: white;
    width:100px;
    border-radius:24px;
    outline:none;
    cursor: pointer;
}
.Login_box input[type = "submit"]:hover
{
    width:110;
    background: greenyellow;
    color:black;
}
.Signup_box{
    border-radius: 50px;
    width: 60%;
    padding: 80px;
    position: absolute;
    text-align: center;
    background: black ;
    margin: 5% 13%;
}
.Signup_box input[type = "email"],.Signup_box input[type="password"],.Signup_box input[type="tel"],.Signup_box input[type="date"],.Signup_box input[type = "text"]{
    text-align: center;
    background: none;
    border: 2px solid cyan;
    padding: 14px 10px;
    width: 300px;
    color: white;
    border-radius:24px;
    outline:none;
    transition: 0.20s;
    font-family:"cooper";
}
.Signup_box input[type = "text"]{
    margin: 20px 25px;
    display: inline;
}
.Signup_box input[type = "email"],.Signup_box input[type="password"],.Signup_box input[type="tel"],.Signup_box input[type="date"]{
    margin: 10px auto;
    display : block;
}
.Signup_box input[type = "email"]:focus,.Signup_box input[type="password"]:focus,.Signup_box input[type="tel"]:focus,.Signup_box input[type="date"]:focus,.Signup_box input[type = "text"]:focus{
    width: 350px;
    border: 4px solid lime;
}
.Signup_box input[type = "submit"],.Signup_box input[type = "reset"]{
    margin: 20px 20px;
    text-align: center;
    display : inline;
    background: none;
    border: 2px solid Gray ;
    padding: 14px 10px;
    color: white;
    width:100px;
    border-radius:24px;
    outline:none;
    cursor: pointer;
}
.Signup_box input[type = "submit"]:hover,.Signup_box input[type = "reset"]:hover
{
    width:110;
    background: gray;
    color:whitesmoke;
}